<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li><%= link_to "Home", potepan_path, id: "top" %></li>
          <li><%= link_to  "Shop", "#" %></li>
          <li class="active"><%= name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
