<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render "categories_light_section", name: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "products_categories", taxonomies: @taxonomies %>
        <%= render "colores_categories" %>
        <%= render "size_categories" %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "list_order" %>
        <%= render "products_detail_link", products: @products %>
      </div>
    </div>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render "potepan/shared/logo_light_section" %>
