<% provide(:title, @product.name) %>
<!-- LIGHT SECTION -->
<%= render "products_light_section", name: @product.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render "products_images", product: @product %>
          <div class="media-body">
            <%= render "products_details", product: @product %>
            <%= render "potepan/shared/pull_down" %>
          </div>
        </div>
      </div>
    </div>
    <%= render "related_product", related_products: @related_products %>
  </div>
</section>
